@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

#navbar {
    background: rgb(252, 215, 134) 56.2% !important;
}

.container {
    padding: 7rem;
    margin: 7rem;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: left;
}

#jumbo {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background: rgb(252, 215, 134) 56.2%;
}

#name {
    padding-right: 7rem;
}

.jumbotron {
    font-family: 'Urbanist', sans-serif;
    font-size: 70px;
    color: #000000;
}

.profile {
    justify-content: center;
}

#profile-picture {
    max-width: 30% !important;
    height: auto;
    border-radius: 50% !important;
    margin-bottom: 35px;
}

.personal-websites {
    margin-top: 40px;
    margin-left: 40px;
}

#social-icons {
    margin-right: 15px;
}

#title {
    font-family: 'Urbanist', sans-serif;
    font-size: 60px;
    color: #000000;
    text-align: left;
}

.projects {
    margin-bottom: 30px;
}

#projects-container {
    display: flex;
    flex-wrap: wrap;
}

#name {
    text-align: center;
    
}

h2 {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}





